* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
.clearfix:after{
    content:"";
    clear:both;
    display:table;
}
body {
    font-family: 'Montserrat', sans-serif;
}
input[type=file], input[type=text], input[type=password], input[type=submit] {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
.bullet{
    background-color: #b3f3fe;
    border-radius: 50%;
    width:6px;
    height:6px;
    margin-left:40px;
    margin-top:-5px;
    display:block;
}
strong{
    font-weight: 700;
}
.search_comment{
    background: #b3f3fe;
    margin-bottom:5px;
}
.search_comment li{
    color:#333333;
    list-style-type: none;
    padding:5px;
    font-size:12px;
}
.search_comment li:hover{
   background:#41e1fc;
}
/*-----------------------------------------*/
/* Sign up + Login */
.logo {
    width:30%;
    margin:30px 35% 30px 35%;
}
form {
    text-align:center;
}
h1 {
	font-family: 'Montserrat', sans-serif;
    font-size:18px;
    font-weight: bold;
    margin-bottom:30px;
}
.formfield {
    margin-bottom:16px;
}

input[type=text], input[type=password], input[type=submit], .formfield textarea{
    font-family: 'Montserrat', sans-serif;
    
}
input[type=text], input[type=password], .formfield textarea{
    font-size:12px;
    padding:10px 10px;
    margin-left:10%;
    margin-right:10%;
    width: 80%;
    border: #000 1px solid;
    border-radius:5px;
}
::placeholder {
    color: #333333;
    opacity: 1; /* Firefox */
}
input:focus:invalid {
  background-color:#b3f3fe;
  -moz-box-shadow: none;
}
input:required:valid {
    border:1px solid #41e1fc;
    background-image: url(../images/formfield_validated.png);
    background-size:12px 12px;
    background-position:96% center;
    background-repeat:no-repeat;
  }
.button{
    padding:10px 10px;
    width:50%;
    margin:10px 25%;
    border: none;
    background-color:#41e1fc;
    color: #fff;
    font-size:16px;
    font-weight:600;
    text-transform: uppercase;
    border-radius:25px;
}
.button:active {
    border: #41e1fc 2px solid;
    background-color: #fff;
    color: #41e1fc;
}
.error {
    background-color:#b3f3fe;
    color:#333333;
    font-size:12px;
    padding:5px;
    margin-bottom:10px;
}
.error--index{
    text-align: center;
    margin-top: 80px;
    margin-bottom: -30px;
}
.noFriends{
    color:#333333;
    font-size:12px;
    margin-bottom:10px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: -30px;
}
.noFriends p{
    padding:5px;
    background-color:#b3f3fe;  
}


/*-----------------------------------------*/
/* Index */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    border-bottom:#41e1fc 1px solid;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index:3;
}
.navbar a {
    color: #000;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}
.logonav {
    width:40px;
}
#searchfield {
    padding:8px 8px;
    margin-left:2px;
    margin-right:8px;
    width: 90px;
    border: #000 1px solid;
    border-radius:5px;
    flex: 1 1 20%;
    align-self: flex-end;
}
.filter_location {
    padding:10px;
    margin:78px auto 10px auto;
    width:200px;
    background-color:#41e1fc;
    border-radius:25px;
    text-align:center;
}
.filter_location a {
    text-decoration:none;
    font-size:12px;
    color:#fff;
    font-weight:600;
    text-transform: uppercase;
}
.filter_map{
    margin:0px auto -60px auto;
}
.collection {
    width:100%;
    margin-top:58px;
	padding: 20px;
}
.collection .item {
    width:100%;
    margin-bottom:20px;
    display:inline-block;
	border-bottom: #b3f3fe 2px solid;
}
.avatar {
    border-radius:50px;
    width:50px;
    margin-right:10px;
    float:left;
}
.collection .user {
    padding-top:5px;
}
.user a {
    text-decoration: none;
    color: #000;
}
.username {
	letter-spacing: 1px;
    font-size:12px;
    font-weight:500;
    float:left;
    padding-top:20px;
	padding-bottom: 20px;
	padding-left: 2px;
}
.picture_index {
    width:100%;
    margin-top:5px;
    margin-bottom:10px;
    display: block;
}
.figure_index {
    width:100%;
    margin-top:52px;
    margin-bottom:10px;
}
.date, .likes{
    font-size:12px;
    margin-bottom:10px;
    color:#707070;
}
.likes {
    margin-right:6px;
}
.date {
    flex-grow:1;
}
.feed_flex {
    display:flex;
    flex-direction: row;
    margin-left:10px;
    margin-right:10px;
    justify-content: space-between;
}
.like_btn {
    width:20px;
    height:20px;
    margin-top:-3px; 
}

/*-----------------------------------------*/
/*profile.php*/
.profile_user {
    width:100%;
    margin-bottom:-60px;
}
.blue_container{
    z-index:-99;
    width:100%;
    position:absolute;
    top:0;
    background-color:#b3f3fe;
    height:360px;
}

.profile_user .avatar {
    float:none;
    width:80px;
    margin:70px auto 10px auto;
    border-radius:50%;
    display:block;
}
h2 {
    font-size:16px;
    font-weight:bold;
    text-align:center;
    margin-bottom:10px;
}
.profile_user .description {
    font-size:12px;
    font-style: italic;
    line-height:1.4em;
    text-align:center;
    color:#000;
    width:80%;
    margin:0 10% 15px 10%;
}
.flex_container {
    display:flex;
    justify-content: center;
}
.extra {
    font-size:14px;
    font-weight:bold;
    padding-right:40px;
    padding-left:40px;
    margin-bottom: 10px;
}
.profile_user .button {
    color: #fff;
    padding:10px 10px;
    margin:10px auto;
    border: none;
    background-color:#41e1fc;
    color: #fff;
    font-size:16px;
    font-weight:600;
    text-transform: uppercase;
    border-radius:25px;
    text-align:center;
}
.edit {
    text-decoration:none;
    color: #fff;
}
.invisible {
    display:none;
}

#button_notif{
    background:#cccccc;
    margin-top:70px;
    margin-bottom: -110px; 
    text-align:center;
}

#button_notif a{
    color:white;
    text-decoration: none;
    font-weight:300; 
}

/*-----------------------------------------*/
/* editProfile */
.profile_settings h1 {
    margin-top:90px;
    margin-bottom:20px;
    text-align:center;
}
.edit_avatar {
    border-radius:50%;
    width:40%;
    height:40vw;
    margin:0px 30% 20px 30%;
}
.profile_label {
    font-size:14px;
    text-align:center;
    font-weight:600;
}
.profile_settings .button_upload {
    display:block;
    padding:10px 10px;
    width:50%;
    margin:-10px 25% -20px 25%;
    border: none;
    background-color:#b3f3fe;
    color: #000;
    font-size:12px;
    font-weight:600;
    text-transform: uppercase;
    border-radius:25px;
}
.profile_settings input[type=text], .profile_settings input[type=password]{
    margin-top:8px;
    text-align: center;
}

textarea {
	resize: vertical;
	min-height: 80px;
	max-height: 250px;
}

/*-----------------------------------------*/
/*detail pagina */
.detail_photo {
    display:flex;
    flex-direction: column;
    margin-top:80px;
    padding:0 20px;
}
.detail_photo .item .user .buttonedit {
    padding:8px 8px;
    margin-top:5px;
    font-size:14px;
    background-color:#41e1fc;
    text-decoration: none;
    font-weight:600;
    text-transform: uppercase;
    border-radius:25px;
    float:right;
}
.inappropriate{
    background-color:#f97897;
}
.detail_photo .item .user .buttonedit a {
    color: #fff;
}
.detail_photo .item {
    margin-bottom:20px;
    border-bottom: 2px solid #b3f3fe;
}
.detail_photo .comment {
	font-size:12px;
    line-height: 1.5em;
    margin-bottom:20px;
    padding-bottom:5px;
    border-bottom:1px solid #b3f3fe;
} 
.comment_username {
    font-weight:bold;
    font-size:13px;
    margin-bottom:2px;
}
.item_description {
    font-size:12px;
    padding-left:8px;
    margin-bottom:10px;
}
.new_comment textarea {
    width:100%;
    height:50px;
    margin:0 0 5px 0;
    border:1px solid #41e1fc;
    border-radius:1em;
    padding:5px;
    resize:none;
    font-family:'Montserrat', sans-serif;
    font-size:12px;
}
.new_comment .button {
    width:40%;
    margin:0 0 10px 60%;
    font-size:10px;
    padding:10px;
}

/*-----------------------------------------*/
/*editPost.php*/
.form_edit_post {
    margin-top:80px;
}
.form_edit_post h1 {
    font-size:18px;
    color:#41e1fc;
    text-align: center;
}
.form_edit_post .formfield textarea {
    font-size:12px;
    margin-top: 10px;
}
.form_edit_post div img {
    width:100%;
    margin-left:0%;
    margin-bottom:-5px;
}
.wrapper{
    margin-left:10%;
    margin-right:10%;
    width: 80%;
}
.btn_min {
    margin-bottom:-5px;
}


/*-----------------------------------------*/
/*Upload.php*/
.upload_photo{
	text-align: center;
    margin-top: 90px;
    width:100%;
}
.upload_photo h1 {
    margin-left:2.5%;
    margin-right:2.5%;
    line-height:1.5em;
}
input[type=file]{ 
    opacity:0;
}
.preview {
    margin:0px 5% 30px 5%;
    width:90%;
}
.preview p {
    font-size:12px;
}
.preview img{
    width:100%;
    margin-bottom:-0.6%;
}
.button_upload {
    padding:10px 10px;
    width:50%;
    margin:10px 25%;
    border: none;
    background-color:#b3f3fe;
    color: #000;
    font-size:12px;
    font-weight:bold;
    text-transform: uppercase;
    border-radius:25px;
}
.button_upload:active {
    border: #b3f3fe 2px solid;
    background-color: #fff;
    color: #b3f3fe;
}

  /*-----------------------------------------*/
    /* figure filter */

.filter input[type="radio"]{
    display:none;
    
  }

.filter label  {
    padding: 10px 10px;
     margin:10px;
    border: none;
    background-color:#41e1fc;
    display:inline-block;
    color:white;
    border-radius:5px;
  
}
 .filter input:checked + label {
    background-color: #b3f3fe;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .filter input:hover + label {
    background-color: #b3f3fe;
    -webkit-box-shadow: none;
    box-shadow: none;
  }


 /*-----------------------------------------*/
    /* Notification.php */

.notif_container{
    margin-top:100px;
    display:grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: auto;
    grid-row-gap: 15px;
}
.notif_container a{
    color: #333;
    text-decoration:none;
}
.notif_item{
    grid-column: 2/span 1;
    grid-row:auto;
    border:2px solid #cccccc;
    border-radius:10px;
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap:5px;
    padding:2px;
}

.notif_item-user{
    grid-column: 1/span 1;
    align-self:center;
    text-align:center;
    justify-self:center;
}
.notif_item-text{
    grid-column: 2/span 1;
    align-self: center;
    justify-self:center;
    
}
.notif_item-text p{
    padding:10px;
    
}
.notif_item-text p:last-child{
    font-size:12px;
}

/*-----------------------------------------*/
/*Search.php*/
.hashtag_title {
    font-size:18px;
    color:#000;
    margin-top:90px;
    text-align:center;
    margin-bottom:10px;
}
.col_search {
    margin-bottom:-60px;
}





@media screen and (min-width: 480px){
    /*-----------------------------------------*/
    /* Sign up + Login */
    .logo {
    width:20%;
    margin:40px 40% 30px 40%;
    }
    h1 {
    font-size:22px;
    }
    .formfield {
    margin-bottom:20px;
    }
    input[type=text], input[type=password], .formfield textarea{
    font-size:14px;
    padding:10px 10px;
    width: 70%;
    margin-left:15%;
    margin-right:15%;
    }
    .button, .button_upload{
    width:40%;
    margin:10px 30%;    
    }
    
	/*-----------------------------------------*/
    /* Index */
    .navbar a {
    font-size: 14px;
    margin-right: 18px;
    }
    #searchfield {
    width: 180px;
    }
    .collection {
        padding: 30px;
    }
    /*
    .user__post{
        padding-top:10%;
    }*/
    
    /*-----------------------------------------*/
    /*profile.php*/
    .blue_container{
    height:360px;
    }    
    .profile_user .description {
    width:60%;
    margin:0 20% 15px 20%;
    }
    
    /*-----------------------------------------*/
    /* editProfile */
    .edit_avatar {
    border-radius:50%;
    width:30%;
    height:30vw;
    margin:0px 35% 30px 35%;
    }
    .profile_label {
    font-size:16px;
    }
    .profile_settings .button_upload {
    font-size:14px;
    width:40%;
    margin:-20px 30% -20px 30%;
    }
    
    /*-----------------------------------------*/
    /*detail pagina */
    .detail_photo {
    padding:0 40px;
    }
    .detail_photo .item .user .button {
    margin:10px 0 0 86%;
    }
    .new_comment .button {
    width:30%;
    margin:0 0 10px 70%;
    }

    /*-----------------------------------------*/
    /*editPost.php*/
    .form_edit_post {
    margin-top:90px;
    }
    .form_edit_post h1 {
    font-size:20px;
    }
    .form_edit_post .formfield textarea {
    font-size:14px;
    margin-top: 14px;
    }
    .wrapper {  
    margin-left:15%;
    margin-right:15%;
    width: 70%;
  
    }
    .btn_min {
    margin-bottom:-10px;
    }
    
    .wrapper figure{
        margin-left:15%;
        margin-right:15%;
        width: 70%;
    }
    /*-----------------------------------------*/
    /*Upload*/
	.preview {
    margin:30px 20% 30px 20%;
    width:60%;
    }
    .button__filter{
        width:20%;
    }
      
      .notif_item{
          padding:5px;
      }
      .bullet{
        
        width:5px;
        height:5px;
         margin-left:4px;
        display:inline-block;
    }  
     
}

@media screen and (min-width: 768px){
    
    /*-----------------------------------------*/
    /* Sign up + Login */
    .logo {
    width:16%;
    margin:40px 42% 40px 42%;
    }
    h1 {
    margin-bottom:40px;
    }
    .formfield {
    margin-bottom:24px;
    }
    input[type=text], input[type=password], .formfield textarea{
    padding: 12px 10px;
    width: 50%;
    margin-left:25%;
    margin-right:25%;
    }
    .button{
    width:30%;
    margin:10px 35%;
    font-size:18px;
    }

    /*-----------------------------------------*/
    /* Index */
    .navbar a {
    margin-right: 22px;
    }
    #searchfield {
    width: 200px;
    }
    .collection {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
    }
    .date, .likes {
    font-size:14px;
    }
    .like_btn {
    width:25px;
    height:25px;
    margin-top:-6px; 
    }
    /*.user__post{
        padding-top:20%;
    }*/
    
    /*-----------------------------------------*/
    /* editProfile */
    .edit_avatar {
    width:20%;
    height:20vw;
    margin:0px 40% 30px 40%;
    }
    .profile_settings .button_upload {
    width:25%;
    margin:-20px 37.5% -20px 37.5%;
    }
    
    /*-----------------------------------------*/
    /*detail pagina */
    .detail_photo {
    padding:0 80px;
    }
    .detail_photo .comments {
        margin-bottom:50px;
    }
    .item_description {
    font-size:14px;
    }
    .new_comment .button {
    width:25%;
    margin:0 0 10px 75%;
    font-size:12px;
    }
    .detail_photo .item .user .button {
    margin:10px 0 0 90%;
    }
    
    /*-----------------------------------------*/
    /*editPost.php*/
    .wrapper{
    margin-left:25%;
    margin-right:25%;
    width:50%;
    }
    .btn_min {
    margin-bottom:-10px;
    }
    .figure__div{
        padding-top:10%;
      }
    /*-----------------------------------------*/
	/*Upload*/
    .button_upload{
        width:30%;
        margin:10px 35%;
    }
	.preview {
    margin:30px 25% 30px 25%;
    width:50%;
    }

    .notif_container{
        grid-template-columns: 10% 1fr 10%;
    }

    .bullet{
        background-color: #b3f3fe;
        border-radius: 50%;
        width:10px;
        height:10px;
         margin-left:4px;
        display:inline-block;
    }  
    
}

@media screen and (min-width: 960px){
    /*-----------------------------------------*/
    /*Sign up + Login */
    .logo {
    width:10%;
    margin:40px 45% 40px 45%;
    }
    h1 {
    margin-bottom:40px;
    }
    input[type=text], input[type=password], .formfield textarea{
    padding: 12px 10px;
    width: 40%;
    margin-left:30%;
    margin-right:30%;
    }
    .button, .button_upload{
    width:20%;
    margin:10px 40%;
    }
    
    /*-----------------------------------------*/
    /* Index */
    #searchfield {
    width: 250px;
    }
    .filter_location {
    display:inline-block;
    margin:78px 0 0 40px;
    }
    .filter_map{
    margin:0 0 0 10px;
    }
    .collection {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    padding: 0px 40px 40px 40px;
    }
     
    /*-----------------------------------------*/
    /* editProfile */
    .edit_avatar {
    width:15%;
    height:15vw;
    margin:0px 42.5% 30px 42.5%;
    }
    .profile_settings .button_upload {
    width:20%;
    margin:-20px 40% -20px 40%;
    }
    
    /*-----------------------------------------*/
    /*detail pagina */
    .detail_photo {
    padding:0 50px;
    flex-direction: row;
    width:100%;
    }
    .detail_photo .item .user .button {
    margin:10px 0 0 88%;
    }
    .detail_photo .comments {
        margin-bottom:0px;
        margin-top:60px;
        margin-left:30px;
        width:50%;
    }
    .detail_photo .item {
    width:50%;
    border-bottom:none;
    }
    .new_comment .button {
    width:30%;
    margin:0 0 10px 70%;
    }
    
    /*-----------------------------------------*/
    /*editPost.php*/
    .form_edit_post h1 {
    font-size:22px;
    }
    .wrapper {
    margin-left:30%;
    margin-right:30%;
    width:40%;
    }
    .btn_min {
    margin-bottom:-10px;
    }
    
    /*-----------------------------------------*/
    /*Upload*/
	.preview {
    margin:10px 30% 30px 30%;
    width:40%;
    }
    .filter{
        width:40%;
        margin-left:30%
    }
    /*-----------------------------------------*/
    /*notification*/
    .notif_container{
        grid-template-columns:20% 1fr 20%;
    }
    .notif_item-text p{
        padding:10px;
        display: inline;
        
    }
    
	
}

@media screen and (min-width: 1200px){
    /*-----------------------------------------*/
    /*Sign up + Login */
    h1 {
    font-size:24px;
    }
    input[type=text], input[type=password], .formfield textarea{
    width: 30%;
    margin-left:35%;
    margin-right:35%;
    }
    .collection {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    }
       
    /*-----------------------------------------*/
    /* editProfile */
    .edit_avatar {
    width:10%;
    height:10vw;
    margin:0px 45% 30px 45%;
    }
    .profile_settings .button_upload {
    width:15%;
    margin:-20px 42.5% -20px 42.5%;
    }


    /*-----------------------------------------*/
    /*detail pagina */
    .detail_photo {
    padding:0 80px;
    }
    .detail_photo .item .user .button {
    margin:10px 0 0 90%;
    }
    .detail_photo .comments {
        margin-left:40px;
    }
    .new_comment .button {
    width:25%;
    margin:0 0 10px 75%;
    }
    
    /*-----------------------------------------*/
    /*editPost.php*/
   
    .wrapper{
        margin-left:35%;
        margin-right:35%;
        width:30%;
    }
    .btn_min {
    margin-bottom:-10px;
    }
    
    /*-----------------------------------------*/
    /*Upload*/
	.preview {
    margin:10px 30% 30px 30%;
    width:40%;
    }
    .filter{
        width:30%;
        margin-left:35%
    }
    /*-----------------------------------------*/
    /*notification*/
    .notif_container{
        grid-template-columns:25% 1fr 25%;
    }
    
	
}

@media screen and (min-width: 1400px){
    /*-----------------------------------------*/
    /*editProfile*/
    .profile_settings .button_upload {
    width:10%;
    margin:-20px 45% -20px 45%;
    }
    
    /*-----------------------------------------*/
    /*detail pagina */
    .detail_photo {
    padding:0 100px;
    }
    .detail_photo .comments {
    margin-left:50px;
    }
    
    /*-----------------------------------------*/
    /*editPost.php*/
    .btn_min {
    margin-bottom:-10px;
    }
    /*-----------------------------------------*/
    /*notification*/
    .notif_container{
        grid-template-columns:25% 1fr 25%;
    }
    
    
}
